mat-card {
  left: 50%;
  width: 60%;
  transform: translate(-50%, 0%);
  margin-top: 2%;
  background-color: #232931;
  border: 5px #EEEEEE;
}

mat-card mat-card-title {
  font-size: 30px;
}

mat-card * {
  color: #EEEEEE;
}
