mat-card {
  left: 50%;
  width: 60%;
  transform: translate(-50%, 0%);
  margin-top: 2%;
  background-color: #232931;
  padding: 10px;
}

mat-card mat-card-subtitle {
  color: #EEEEEE;
}

mat-card mat-card-title {
  font-size: 30px;
  color: #4ECCA3;
}


mat-form-field {
  width: 100%;
  margin-top: 20px;
}

.ck-editor__editable {
  min-height: 500px !important;
}

button {
  background-color: #4ECCA3;
  margin-top: 20px;
  width: 10%;
}
