<div class="container">
  <mat-card class="responsive-card">
    <img src='../../../assets/zeroonelogo.png'>
    <mat-card-header>
      <mat-card-title><span id="arrow"> > </span>Welcome! ZeroOne is a modern ticketing system for the IT
        department.<span id="you"> And for you</span>.
      </mat-card-title>
    </mat-card-header>

    <form class="register" [formGroup]="registerForm">

      <mat-form-field class="email">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="You e-mail address" required type="email">
        <mat-error *ngIf="registerForm.get('email').hasError('email')">
          Please enter a <strong>valid email address</strong>
        </mat-error>
        <mat-error *ngIf="registerForm.get('email').hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="registerForm.get('email').hasError('maxlength')">
          Email is <strong>too long</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="text">
        <mat-label>First name</mat-label>
        <input formControlName="firstName" matInput placeholder="Your first name" required type="text">
        <mat-error *ngIf="registerForm.get('firstName').hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="registerForm.get('firstName').hasError('minlength')">
          Name is <strong>too short</strong>
        </mat-error>
        <mat-error *ngIf="registerForm.get('firstName').hasError('maxlength')">
          Name is <strong>too long</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="text">
        <mat-label>Last name</mat-label>
        <input formControlName="lastName" matInput placeholder="Your last name" required type="text">
        <mat-error *ngIf="registerForm.get('lastName').hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="registerForm.get('lastName').hasError('minlength')">
          Email is <strong>too short</strong>
        </mat-error>
        <mat-error *ngIf="registerForm.get('lastName').hasError('maxlength')">
          Email is <strong>too long</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="passwsord">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput required type="password">
        <mat-error *ngIf="registerForm.get('password').hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="registerForm.get('password').hasError('minlength')">
          Password is <strong>too short</strong>
        </mat-error>
        <mat-error *ngIf="registerForm.get('password').hasError('maxlength')">
          Password is <strong>too long</strong>
        </mat-error>
      </mat-form-field>

<!--        <mat-form-field class="passwsord">-->
<!--          <mat-label>Repeat password</mat-label>-->
<!--          <input formControlName="repeatPassword" matInput required type="password">-->
<!--          <mat-error *ngIf="registerForm.get('repeatPassword').hasError('email') && !registerForm.get('password').hasError('required')">-->
<!--            Please enter a valid email address-->
<!--          </mat-error>-->
<!--          <mat-error *ngIf="registerForm.get('repeatPassword').hasError('required')">-->
<!--            Password is <strong>required</strong>-->
<!--          </mat-error>-->
<!--          <mat-error *ngIf="registerForm.get('repeatPassword').hasError('minlength')">-->
<!--            Password is <strong>too short</strong>-->
<!--          </mat-error>-->
<!--          <mat-error *ngIf="registerForm.hasError('passwordMismatch')">-->
<!--            Passwords are <strong>not the same</strong>-->
<!--          </mat-error>-->
<!--      </mat-form-field>-->
    </form>
    <mat-card-actions>
      <button (click)="register()" mat-button [disabled]="!registerForm.valid" >
        Sign up
      </button>
    </mat-card-actions>
    <p [hidden]="registerInfo == null" id="registerInfo">{{registerInfo}}</p>
    <p (click)="backToLoginPage()" id="back"> < Back to the login page</p>
  </mat-card>

</div>
