* {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.responsive-card {
  width: 100%;
  max-width: 650px;
  background-color: #232931;
  margin: 20px;
}

mat-card-header {
  color: white;
}

mat-form-field {
  width: 60%
}

img {
  margin-bottom: -40px;
}

.login {
  padding-top: 20px;
}

button {
  margin: auto;
}

mat-icon {
  color: #EEEEEE;
}
.register {
  margin-top: 10px;
}

#arrow {
  color: #4ECCA3;
}

#back {
  color: #4ECCA3;
  margin-bottom: 10px;
  transition-duration: 0.5s;
}

#back:hover {
  transition-duration: 0.5s;
  color: #EEEEEE;
  cursor: pointer;
}

#you {
  color: #4ECCA3;
}

#registerInfo {
  color: #00D8FF;
}
