.bottom-toolbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px;
  z-index: 2; /* Dla pewności, żeby nie przesłaniało innych elementów na stronie */
  background-color: #232931;
}

span {
  color: #60D2A7;
}
