
<div *ngIf="showLoading">
  <app-loading></app-loading>
</div>

<div *ngIf="loadingFailed && !showLoading">
<app-loading-failed></app-loading-failed>
</div>

<div *ngIf="showLoading == false && loadingFailed == false">
  <app-charts></app-charts>

  <div class="sort-menu">
    <mat-chip-listbox aria-label="Fish selection">
      <mat-chip-option selected (click)="getTicketsByNewest()">By newest</mat-chip-option>
      <mat-chip-option (click)="getTicketsByOldest()">By oldest</mat-chip-option>
      <mat-chip-option >By user</mat-chip-option>
      <!--    <mat-chip-option color="warn"></mat-chip-option>-->
    </mat-chip-listbox>
  </div>

  <div class="container" >
    <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table style="overflow-x:auto">

      <ng-container matColumnDef="select">
        <th *matHeaderCellDef mat-header-cell>
          <mat-checkbox (change)="$event ? toggleAllRows() : null"
                        [aria-label]="checkboxLabel()"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td *matCellDef="let row" mat-cell>
          <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                        (click)="$event.stopPropagation()"
                        [aria-label]="checkboxLabel(row)"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <!--  <ng-container matColumnDef="position" >-->
      <!--    <th mat-header-cell *matHeaderCellDef> No. </th>-->
      <!--    <td mat-cell *matCellDef="let ticket"> {{ticket.position}} </td>-->
      <!--  </ng-container>-->

      <ng-container matColumnDef="ticketNumber">
        <th *matHeaderCellDef mat-header-cell>Ticket number</th>
        <td *matCellDef="let ticket" mat-cell> {{ticket.ticketNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell>Ticket name</th>
        <td *matCellDef="let ticket" class="name" mat-cell><p (click)="goToPage(ticket.ticketNumber)">{{ticket.name}}</p></td>
      </ng-container>

      <ng-container matColumnDef="ticketStatus">
        <th *matHeaderCellDef mat-header-cell>Status</th>
        <td *matCellDef="let ticket" [ngStyle]="ticket.ticketStatus === 'New' ? { color:'#FFA500' } : ticket.ticketStatus === 'In progress' ?
     {color: '#00D8FF'} : ticket.ticketStatus === 'Closed' ? {color: '#4ECCA3'} : ticket.ticketStatus === 'Suspended' ? {color: '#D2D79F'} : {color: ''}"
            mat-cell> {{ticket.ticketStatus}} </td>
      </ng-container>

      <ng-container matColumnDef="user">
        <th *matHeaderCellDef mat-header-cell>User</th>
        <td *matCellDef="let ticket" mat-cell> {{ticket.user.email}} </td>
      </ng-container>

      <ng-container matColumnDef="createdDate">
        <th *matHeaderCellDef mat-header-cell>Created</th>
        <td *matCellDef="let ticket" mat-cell> {{ticket.createdDate | date: 'dd.MM.yyyy HH:mm '}} </td>
      </ng-container>

      <ng-container matColumnDef="attendant">
        <th *matHeaderCellDef mat-header-cell>Attendant</th>
        <td *matCellDef="let ticket" mat-cell> {{ticket.user.email}} </td>
      </ng-container>

      <ng-container matColumnDef="timeToEnd">
        <th *matHeaderCellDef mat-header-cell>Time remaining</th>
        <td *matCellDef="let ticket" mat-cell [ngStyle]="ticket.timeToEnd === 'Pick-up time exceeded' ? { color:'#FF6969' } : {}"> {{ticket.timeToEnd}}</td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr (click)="selection.toggle(row)" *matRowDef="let row; columns: displayedColumns;"
          mat-row>
      </tr>
    </table>
  </div>
  <mat-paginator [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 aria-label="Select page">
  </mat-paginator>
<div class="timer" [hidden]="showLoading || !sharedService.refresh" >
<div *ngIf="wasRefreshed == true; else addticketform">
  <p class="refreshed">Refreshed!</p>
</div>
<ng-template #addticketform>
  <p>Refresh in {{timeLeft}} seconds...</p>
</ng-template>
</div>
</div>
<div class="spacer"></div>
