.container {
  width: 100%;
  overflow-x: auto;
}
table {
  background-color: #232931;
  width: 100vw;
}


th, td {
  color: #EEEEEE;
  text-align: center;
}

a {
  text-decoration: none;
  color: #EEEEEE;
  transition-duration: 500ms;
}

a:hover {
  /*text-decoration: underline #4ECCA3;*/
  color: #4ECCA3;
  transition-duration: 500ms;
}

mat-paginator {
  background-color: #232931;
  color: #EEEEEE;
}

.sort-menu {
  margin: 30px;
}

mat-card {
  background-color: #232931;
  display: flex;
  align-items: center;
}
.sort-menu button {
  background-color: #4ECCA3;
  color: black;
  margin-right: 15px;
}





