<!--<app-addticketform></app-addticketform>-->

<video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
  <source src="assets/video.mp4">
</video>

<div class="container" fxFlex=" 1 2 calc(15em +20px)">
  <mat-card class="card">
    <img src='assets/zeroonelogo.png'>
    <mat-card-header>
      <p>Welcome Jan Kowalski, in the ZeroOne Ticketing System. Choose an interesting option: </p>
    </mat-card-header>

    <div class = "grid-container">
      <div class="grid-item">
        <button  type = "button" id = "b1" class = "small_btn" mat-flat-button>
          ADD TICKET <mat-icon>work</mat-icon>
        </button>
      </div>
      <div class="grid-item">
        <button  type = "button" id = "b2" class = "small_btn" mat-flat-button>
          ADD TICKET <mat-icon>work</mat-icon>
        </button>
      </div>
      <div class="grid-item">
        <button  type = "button" id = "b3" class = "small_btn" mat-flat-button>
          YOUR SETTINGS <mat-icon>settings</mat-icon>
        </button>
      </div>
      <div class="grid-item">
        <button  type = "button" id = "b4" class = "small_btn" mat-flat-button>
          BROWSE YOUR TICKETS <mat-icon>search</mat-icon>
        </button>
      </div>
      <div class="grid-item b5">
        <button  type = "button" id = "b5" class = "small_btn" mat-flat-button (click)="goToPage()">
          ADD A NEW TICKET <mat-icon>note_add</mat-icon>
        </button>
      </div>
    </div>
    </mat-card>

  <app-general-failure class="failure"></app-general-failure>
</div>

