<!--<app-addticketform></app-addticketform>-->

<video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
  <source src="assets/video.mp4">
</video>

<div class="container" fxFlex=" 1 2 calc(15em +20px)">
  <mat-card class="card">
    <img src='assets/zeroonelogo.png'>
    <mat-card-header>
      <mat-card-title>Welcome Jan Kowalski, in the ZeroOne Ticketing System. Choose an interesting option:</mat-card-title>
    </mat-card-header>
    <mat-card class="option">
      <mat-card-header>
        <mat-card-title>new ticket</mat-card-title>
        <mat-icon>note_add</mat-icon>
      </mat-card-header>
    </mat-card>
    <mat-card class="option">
      <mat-card-header>
        <mat-card-title>new ticket</mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card class="option">
      <mat-card-header>
        <mat-card-title>ticket</mat-card-title>
      </mat-card-header>
    </mat-card>
  </mat-card>
</div>

