<div *ngIf="showLoading">
  <app-loading></app-loading>
</div>

<div *ngIf="loadingFailed && !showLoading">
  <app-loading-failed></app-loading-failed>
</div>

<div *ngIf="showLoading == false && loadingFailed == false" class="container">

  <div class="timer">
    <div *ngIf="refreshed == true; else addticketform">
      <p class="refreshed">Refreshed</p>
    </div>
    <ng-template #addticketform>
      <p (click)="!sharedService.blockOnLiveButton && refreshTicketManually()"> Refresh in {{timeToRefresh}} seconds...</p>
      <div *ngIf="sharedService.blockOnLiveButton == true || sharedService.refresh == false">
        <p><span id="warning">WARNING! REFRESH STOPPED</span></p>
      </div>
    </ng-template>
    <mat-progress-bar mode="determinate" [value]="progressBarValue"></mat-progress-bar>
  </div>

  <div class="ticket-general-info">
    <p>
      Ticket number: <span>{{ticket.ticketNumber}}</span>
    </p>
    <p>
      Status: <span [matMenuTriggerFor]="menu" [ngStyle]="ticket.ticketStatus === 'New' ? { color:'#FFA500' } : ticket.ticketStatus === 'In progress' ?{color: '#00D8FF'} : ticket.ticketStatus === 'Closed' ?
   {color: '#4ECCA3'} : ticket.ticketStatus === 'Suspended' ? {color: '#B4B4B3'} : {color: ''}"
                    class="progress">{{ticket.ticketStatus}}</span>
    </p>
    <p>
      Created date: <span>{{ticket.createdDate | date: 'dd.MM.yyyy HH:mm'}}</span>
    </p>

    <p>
      Time remaining: <span
      [ngStyle]="ticket.ticketTimeRemaining === 'Resolve time exceeded' ? { color:'#EE4B2B' } : {}">{{ticket.ticketTimeRemaining}}</span>
    </p>
  </div>

  <mat-card class="ticket-card">
    <mat-card-header>
      <mat-card-subtitle class="info">Author: {{ticket.user.firstName}} {{ticket.user.lastName}}</mat-card-subtitle>
      <mat-card-title class="name">Topic: {{ticket.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="isShowMoreClicked == false" [innerHTML]="ticket.ticketBody.ticketBody.substring(0, 500)"></p>
      <p *ngIf="isShowMoreClicked" [innerHTML]="ticket.ticketBody.ticketBody"></p>
      <span (click)="changeTextLength()" [hidden]="isShowMoreClicked || ticket.ticketBody.ticketBody.length <= 500"
            class="more">Show more...</span>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions *ngIf="roleFromSessionStorage == 'ROLE_ADMIN'">
      <button [matMenuTriggerFor]="menu" class="button" mat-button>CHANGE STATUS</button>
      <mat-menu #menu="matMenu">
        <button (click)="updateTicketStatus(ticket.ticketNumber, 1)" [disabled]="ticket.ticketStatus == 'In progress'"
                mat-menu-item>In progress
        </button>
        <button (click)="updateTicketStatus(ticket.ticketNumber, 2)" [disabled]="ticket.ticketStatus == 'Closed'"
                mat-menu-item>Closed
        </button>
        <button (click)="updateTicketStatus(ticket.ticketNumber, 3)" [disabled]="ticket.ticketStatus == 'Suspended'"
                mat-menu-item>Suspended
        </button>
      </mat-menu>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>


    <mat-card class="ticket-card" *ngFor="let reply of ticket.ticketReplies">
      <mat-card-header>
        <mat-card-subtitle class="info">Date: {{reply.replyDate | date: 'dd.MM.yyyy HH:mm'}}</mat-card-subtitle>
        <mat-card-title class="name">Replied: {{reply.user.firstName}} {{reply.user.lastName}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p [innerHTML]="reply.ticketReplyBody.substring(0, 500)"></p>
        <p *ngIf="reply.isShowMoreClicked" [innerHTML]="reply.ticketReplyBody"></p>
        <span (click)="reply.isShowMoreClicked = true" [hidden]="reply.isShowMoreClicked || reply.ticketReplyBody.length <= 500"
              class="more">Show more...</span>
      </mat-card-content>
      <mat-card-footer>
      </mat-card-footer>
    </mat-card>

  <mat-card class="reply-form">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>reply</mat-icon>
        Reply ticket
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="replyForm">
        <ckeditor [config]="{placeholder: 'Write here... (Max 2000 characters)'}" [editor]="editor"
                  formControlName="replyBody"></ckeditor>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <div class="disable-button" *ngIf="ticket.ticketStatus != 'Closed'; else closed" >
      <button (click)="replyTicket()"  class="button" mat-button>REPLY</button>
      </div>
      <ng-template #closed>
        <p class="ticketisclosed"> To reply, ticket must be reopened</p>
      </ng-template>
      <p *ngIf="replyTicketStatus == 'successful'" class="sent">Reply sent, reloading page</p>
      <div *ngIf="replyTicketStatus == 'successful'" class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <p *ngIf="replyTicketStatus == 'fail'" class="failed">Something went wrong, try again.</p>

    </mat-card-actions>
  </mat-card>

  <div class="attendant">
    <p *ngIf="ticket.attendant != null; else attendant"><span>Attendant: </span>{{ticket.attendant.firstName}} {{ticket.attendant.lastName}} | <span>Author:
    </span> {{ticket.user.firstName}} {{ticket.user.lastName}} | <span>Category: </span> {{ticket.category.categoryName}}</p>
    <ng-template #attendant>
      <p><span>Attendant:</span> <span [ngStyle]="{ color:'#B4B4B3FF' }"> Empty attendant</span> | <span>Author:
    </span> {{ticket.user.firstName}} {{ticket.user.lastName}} | <span>Category: </span> {{ticket.category.categoryName}}</p>
    </ng-template>
</div>
</div>

