<div class="container">

  <mat-card class="responsive-card">
    <mat-card-header>
      <div class="text-with-icon"><mat-icon class="icon">settings</mat-icon> Your profile:</div>
    </mat-card-header>

    <mat-card-header>
      <div class="text-with-icon">
        <span class="text">User first name: {{user.firstName}}</span>
      </div>
    </mat-card-header>

    <mat-card-header>
      <div class="text-with-icon">
        <span class="text">User last name: {{user.lastName}}</span>
      </div>
    </mat-card-header>

    <mat-card-header>
      <div class="text-with-icon">
        <span class="text">User email: {{user.email}}</span>
      </div>
    </mat-card-header>

    <mat-card-header>
    <div class="text-with-icon">
      <span class="text">User created date: {{user.createdDate | date}}</span>
    </div>
    </mat-card-header>


    <mat-card-header>
    <div class="text-with-icon">
      <span class="text">User role: {{user.role.name}}</span>
    </div>
    </mat-card-header>

    <mat-card-header>
      <div class="text-with-icon">
        <span class="text" *ngIf="!user.isDisabled">Is account disabled: false</span>
        <span class="text" *ngIf="user.isDisabled">Is account disabled: true</span>
      </div>
    </mat-card-header>

    <form [formGroup]="changePasswordForm">
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Change password</mat-label>
          <input formControlName="password" matInput required type="password" placeholder="Change password" >
          <mat-error>{{getErrorMessage(changePasswordForm.get('password'))}}</mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button class="button" (click)="changePassword()" mat-button [disabled]="!changePasswordForm.valid">Change password</button>
      </mat-card-actions>
    </form>
  </mat-card>

  <div class="back-to-client-page" (click)="routingService.goToPage('/client')">
    <div class="text-with-icon">
      <mat-icon class="icon">arrow_back</mat-icon>
      <span class="text">Back to the client page</span></div>
  </div>
</div>

<app-footer></app-footer>
