.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.responsive-card {
  width: 100%;
  max-width: 600px;
  background-color: #232931;
  padding: 20px;
}

.img {
  max-width: 100%;
  height: auto;
}

mat-card mat-card-subtitle,
span {
  color: #eeeeee;
}

mat-card mat-card-title {
  font-size: 20px;
  color: #4ecca3;
}

mat-form-field {
  width: 100%;
  margin-top: 20px;
}

.text-with-icon {
  display: flex;
  align-items: center;
  font-size: 18px;
  vertical-align: middle;
  color: #4ECCA3;
}

.icon {
  margin-right: 8px;
}

.back-to-client-page * {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4ECCA3;
  position: relative;
  height: 50px;
  transition-duration: 1000ms;
}

.back-to-client-page .text-with-icon:hover *{
  cursor: pointer;
  color: #EEEEEE;
  transition-duration: 1000ms;
}

button {
  margin-top: 10px;
}



