<video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
<source src="assets/video.mp4">
</video>
<div class="example-container" fxFlex=" 1 2 calc(15em +20px)">
  <mat-card class="example-card">
    <img src='assets/zeroonelogo.png'>
    <mat-card-header>
      <mat-card-title>ZeroOne jest systemem ticketowym wspomagającym pracę działu technicznego w organizacji.</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Zaloguj się za pomocą swojego firmowego konta Microsoft.</p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="goToPage('Home')" mat-button>
        <mat-icon>work</mat-icon>
        Kliknij tutaj aby zalogować się swoim kontem Microsoft
      </button>
    </mat-card-actions>
  </mat-card>
</div>
