<video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
<source src="assets/video.mp4">
</video>
<div class="container" fxFlex=" 1 2 calc(15em +20px)">
  <mat-card class="card">
    <img src='assets/zeroonelogo.png'>
    <mat-card-header>
      <mat-card-title>ZeroOne jest systemem ticketowym wspomagającym pracę działu technicznego w organizacji.</mat-card-title>
    </mat-card-header>
    <form class="login">
      <mat-form-field class="email">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl"
               placeholder="Ex. pat@example.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="passwsord">
        <mat-label>Password</mat-label>
        <input type="password" matInput [formControl]="emailFormControl">
        <mat-error *ngIf="passwordFormControl.hasError('email') && !passwordFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

    </form>
    <mat-card-actions>
      <button (click)="goToPage('home')" mat-button>
        <mat-icon>work</mat-icon>
        Zaloguj się
      </button>
    </mat-card-actions>
  </mat-card>
</div>
