<nav>
  <mat-toolbar>
    <button (click)="openNavbar()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="assets/smallerlogo.png" (click)="goToPage('home')" />
    <p>Na żywo</p>
    <span class="dot"></span>
    <input class="search-input" type="text" placeholder="Search...">
    <div class="spacer"></div>
    <div fxShow="true">
      <button mat-button class="logout-button">
        <mat-icon>exit_to_app</mat-icon>
        Wyloguj
      </button>
    </div>


  </mat-toolbar>
</nav>

<mat-sidenav-container>
    <mat-sidenav opened="{{isNavbarOpen}}">
      <mat-sidenav-content>
        <p>Wybierz odpowiednią opcję:</p>

        <button mat-button>
          <mat-icon>accessibility</mat-icon>
          Sprawdź użytkownika
        </button>
        <button mat-button (click)="goToPage('addticket')">
          <mat-icon>add</mat-icon>
          Dodaj zgłoszenie
        </button>
        <button mat-button>
          <mat-icon>exit_to_app</mat-icon>
          Wyloguj
        </button>
        <button mat-button>
          <mat-icon>exit_to_app</mat-icon>
          Wyloguj
        </button>
      </mat-sidenav-content>
    </mat-sidenav>
  </mat-sidenav-container>
