
.mat-toolbar {
  background-color: #232931;
}

form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.menu-button {
  color: #EEEEEE;
}

.spacer {
  flex: 1 1 auto;
}

img {
  margin: 15px;
  cursor: pointer;
}

p {
  margin-right: 10px;
  color: #EEEEEE;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  color: #EEEEEE;
}

.dot {
  animation: blink 2s infinite;
}

.toggle {
  margin: 10px;
}

@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.logout-button {
  background-color: #4ECCA3;
  text-transform: uppercase;
}

.search_form {
  min-width: 150px;
  max-width: 25%;
  width: 25%;
  border: 1px solid #60D2A7;
}

.input {
  width: 100%;
  margin-bottom: -1.25em;
}

input[type="text"]
{
  font-size: 28px;

}

@media screen and (max-width: 1200px) {
  .search_form {
    visibility: hidden;
  }

}

.wrapper {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
}

.ticket {
  color: #4ECCA3;
}

.today {
  transition-duration: 0.5s;
}

.today:hover {
  color: #4ECCA3;
  transition-duration: 0.5s;
}
