<nav>
  <mat-toolbar>
    <button mat-icon-button class="menu-button" aria-label="Open menu">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="assets/smallerlogo.png" (click)="goToPage('home')" />
    <p [hidden]="true">ON LIVE</p>
    <span class="dot" [hidden]="true"></span>
    <mat-slide-toggle color="primary" class="toggle"></mat-slide-toggle>
    <input class="search-input" type="text" placeholder="Search...">
    <div class="spacer"></div>
    <div fxShow="true">
      <button mat-button class="logout-button">
        <mat-icon>exit_to_app</mat-icon>
        LOGOUT
      </button>
    </div>


  </mat-toolbar>
</nav>
