.mat-toolbar {
  background-color: #232931;
}

.menu-button {
  color: #EEEEEE;
}


.spacer {
  flex: 1 1 auto;
}

img {
  margin: 15px;
  cursor: pointer;
}

p {
  margin-right: 10px;
  color: #EEEEEE;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  color: #EEEEEE;
}

.dot {
  animation: blink 2s infinite;
}

@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.search-input {
  width: 10%;
  height: 50%;
  margin-left: 30px;
  border: none;
  border-bottom: 3px solid #4ECCA3;
  outline: 0;
  background: transparent;
  color: #EEEEEE;
  font-size: 20px;
  transition-duration: 0.5s;
}

.search-input:focus {
  width: 15%;
  transition-duration: 0.5s;
}


.logout-button {
  background-color: #4ECCA3;
  text-transform: uppercase;
}


