.mat-toolbar {
  background-color: #232931;
}


.spacer {
  flex: 1 1 auto;
}

img {
  margin: 15px;
  cursor: pointer;
}

p {
  margin-right: 10px;
  color: #EEEEEE;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  color: #EEEEEE;
}

.dot {
  animation: blink 2s infinite;
}

@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.search-input {
  width: 20%;
  height: 50%;
  margin-left: 30px;
  border: none;
  border-bottom: 3px solid #4ECCA3;
  outline: 0;
  background: transparent;
  color: #EEEEEE;
  font-size: 20px;
}

.logout-button {
  background-color: #4ECCA3;
  text-transform: uppercase;
}

mat-sidenav-container{
  width: 100px;
  border: 0;
  margin: 0;
  position: unset;
}

mat-sidenav {
  width: 20vh;
  background-color: #232931;
  height: 50vh;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  top: 25%;
  bottom: 25%;
}

mat-sidenav button {
  width: 90%;
  margin: 5% 5% 0 5%;
  background-color: #EEEEEE;;
}

