<mat-card>
  <mat-card-header>
    <mat-card-title>Statystyki</mat-card-title>
  </mat-card-header>
  <div class="chart">
    <div class="numberofticketsperdaychart">
      <canvas [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="options"
              [type]="lineChartType"
              baseChart>
      </canvas>
    </div>
    <div class="numberofticketswithstatuschart">
      <canvas [datasets]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [options]="options"
              [type]="doughnutChartType"
              baseChart>
      </canvas>
    </div>
    <div class="numberofticketspermonthschart">
      <canvas [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="options"
              [type]="barChartType"
              baseChart>
      </canvas>
    </div>
  </div>
</mat-card>
