<app-navbar></app-navbar>
<app-chart></app-chart>
<div class="container">
  <div class="card-container">
    <mat-card class="doughnut">
      <mat-card-header>
        <mat-card-title>Number of tickets by status</mat-card-title>
      </mat-card-header>
      <div class="numberofticketswithstatuschart">
        <canvas [datasets]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [options]="options"
                [type]="doughnutChartType"
                baseChart>
        </canvas>
      </div>
    </mat-card>

    <mat-card class="bar">
      <mat-card-header>
        <mat-card-title>Number of tickets by month</mat-card-title>
      </mat-card-header>
      <div class="numberofticketspermonthschart">
        <canvas [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="options"
                [type]="barChartType"
                baseChart>
        </canvas>
      </div>
    </mat-card>
  </div>
</div>

<app-footer></app-footer>
