
.ticket-card {
  width: 90%;
  margin: 0 auto;
  margin-top: 2%;
  background-color: #232931;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ticketname {
  display: flex;
  align-items: center;
  font-size: 25px;
  color: #4ECCA3;
}

.ticketname mat-icon {
  margin-right: 10px;
  color: #4ECCA3;
}

.ticketnumber {
  font-size: 25px;
  color: #4ECCA3;
}

.createdby,
.attendant,
.timeremaining,
.ticketstatus,
.createddate {
  font-size: 25px;
  color: #EEEEEE;
}

.textbody {
  font-size: 18px;
  margin-top: 20px;
  flex-basis: 100%;
  color: #EEEEEE;
  text-align: justify;
  padding: 0% 2% 2% 2%;
}

.mat-form-field {
  flex-basis: 100%;
}

.mat-select {
  width: 100%;
}

span {
  font-size: 15px;
  color: deepskyblue;
}
