<app-background-video></app-background-video>
<div class='container' *ngIf="sharedService.isOnLoginPage; else registerPage">
  <mat-card class="responsive-card">
    <img src='../../../assets/zeroonelogo.png'>

    <mat-card-header>
      <mat-card-title><span id="arrow"> > </span>Welcome! ZeroOne is a modern ticketing system for the IT
        department.<span id="you"> And for you</span>.
      </mat-card-title>
    </mat-card-header>

      <form [formGroup]="loginForm" class="login">
      <mat-form-field class="email">
        <mat-label>Email</mat-label>
        <input (keyup.enter)="login()" formControlName="email" matInput placeholder="You e-mail address" required type="email">
        <mat-error *ngIf="loginForm.get('email').hasError('email') && loginForm.get('email').hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="loginForm.get('email').hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="loginForm.get('email').hasError('maxlength')">
          Email is <strong>too long</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="passwsord">
        <mat-label>Password</mat-label>
        <input (keyup.enter)="login()" formControlName="password" matInput required type="password">
        <mat-error *ngIf="loginForm.get('password').hasError('email') && !loginForm.get('password').hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="loginForm.get('password').hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="loginForm.get('password').hasError('minlength')">
          Password is <strong>too short</strong>
        </mat-error>
        <mat-error *ngIf="loginForm.get('password').hasError('maxlength')">
          Password is <strong>too long</strong>
        </mat-error>

      </mat-form-field>
    </form>
    <mat-card-actions>
      <button (click)="login()" mat-button [disabled]="!loginForm.valid">
        Sign in
      </button>
    </mat-card-actions>
    <p (click)="goToRegisterWindow()"  id="createaccount"> Do you have an account? Sign up.</p>

  </mat-card>>

  <div class="text-with-icon">
  <span class="text" [ngStyle]="serverWorking ? { color:'#4ECCA3' } : {color: '#EE4B2B' }"><mat-icon class="icon">dvr</mat-icon> {{serverStatus}}</span>
  <span class="text" [ngStyle]="databaseWorking ? { color:'#4ECCA3' } : {color: '#EE4B2B' }"><mat-icon class="icon">storage</mat-icon> {{databaseStatus}}</span>
  </div>
</div>
<ng-template #registerPage>
  <app-register></app-register>
</ng-template>

<router-outlet></router-outlet>
