* {text-decoration: none}

.container {
  overflow-x: auto;
}

table {
  background-color: #232931;
}


th, td {
  color: #EEEEEE;
  text-align: center;
  font-size: 17px;
}

p {
  text-decoration: none;
  color: #EEEEEE;
  transition-duration: 500ms;
}

p:hover:not(.refreshed) {
  cursor: pointer;
  color: #4ECCA3;
  transition-duration: 500ms;
}

mat-paginator {
  background-color: #232931;
  color: #EEEEEE;
}

p {
  text-align: center;
  margin: 5px;
  color: #EEEEEE;
}

.refreshed {
  color: #379470;
  font-size: 24px;
  letter-spacing: 5px;
  text-transform: uppercase;
  outline: none;
}

.sort-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

mat-card {
  background-color: #232931;
  align-items: center;
}

.sort-menu button {
  background-color: #4ECCA3;
  color: black;
  margin-right: 15px;
}

.spacer {
  height: 100px;
}

.mytickets * {
  background-color: #4ECCA3;
}

mat-progress-bar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

span {
  color: #FF6969;
}

span {
  animation: blink 2s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
