
  <mat-toolbar>
    <button aria-label="Open menu" class="menu-button" mat-icon-button (click)="openMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <img (click)="goToPage('home'); sharedService.isMenuOpen=false" src="../../../assets/smallerlogo.png"/>
    <p *ngIf="sharedService.refresh">ON LIVE</p>
    <span *ngIf="sharedService.refresh" class="dot"></span>
    <mat-slide-toggle (ngModelChange)="toggle()" [(ngModel)]="sharedService.refresh" disabled="{{sharedService.blockOnLiveButton}}" class="toggle"
                      color="primary"></mat-slide-toggle>
    <form class="search_form">
      <mat-form-field class="input">
        <mat-icon>search</mat-icon>
        <input [formControl]="search" [matAutocomplete]="auto" matInput placeholder="Search... "
               type="text">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option (click)="goToPage(option.ticketNumber)"
                      *ngFor="let option of filteredOptions | async | slice : 0 : 15 "
                      [value]="option.name">
            <div class="wrapper">
              <span>{{option.name}}</span>
              <span class="ticket">{{option.ticketNumber}}</span>
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <div class="spacer"></div>
    <p class="today">{{curDate}}</p>
    <div fxShow="true">
      <button class="logout-button" mat-button (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        LOGOUT
      </button>
    </div>
  </mat-toolbar>
