/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*CKEditor*/
.ck-editor__editable_inline {
  min-height: 200px;
}

.ck.ck-editor__main>.ck-editor__editable {
  background: #4ECCA3;
  border-radius: 0;
}


/* Mat-Paginator */

.mat-mdc-paginator-icon, .mat-mdc-select-value {
  fill: #4ECCA3;
  color: #4ECCA3;
}

.mdc-menu-surface {
  background-color: #232931;
}

.mdc-list-item--selected .mdc-list-item__primary-text {
  color: #4ECCA3;
}
.mdc-list-item__primary-text {
  color: #EEEEEE;
}

/* Search input */

.mat-mdc-form-field {
  color: #232931;
}

/* Global scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #232931;
}

::-webkit-scrollbar-thumb {
  background: #4ECCA3;
}

::-webkit-scrollbar-thumb:hover {
  background: #3ca476;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #EEEEEE;
  border-radius: 10px;
}

/* buttons */

.mat-mdc-button:not(:disabled) {
  color: #4ECCA3;
}

.mat-mdc-card-content a:link {
  color: #4ECCA3;
}

.mat-mdc-card-content a:visited {
  color: #2a7258;
}

.mat-mdc-select-panel {
  background-color: #232931 !important;
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
  color: #4ECCA3 !important;
}

div.mat-mdc-autocomplete-panel {
  background-color: #232931 !important;
}

.mat-mdc-button:not(:disabled) {
  color: #4ECCA3 !important;
  border: #4ECCA3 1px solid;
}

.mat-mdc-menu-panel {
  background-color: #232931 !important;
}

.mat-mdc-menu-item, .mat-mdc-menu-item:visited, .mat-mdc-menu-item:link {
  color: #4ECCA3 !important;
}

