/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*CKEditor*/
.ck-editor__editable_inline {
  min-height: 500px;
}


/* Mat-Paginator */

.mat-mdc-paginator-icon, .mat-mdc-select-value {
  fill: #4ECCA3;
  color: #4ECCA3;
}

.mdc-menu-surface {
  background-color: #232931;
}

.mdc-list-item--selected .mdc-list-item__primary-text {
  color: #4ECCA3;
}
.mdc-list-item__primary-text {
  color: #EEEEEE;
}

/* Search input */

.mat-mdc-form-field {
  color: #232931;
}

/* Global scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #232931;
}

::-webkit-scrollbar-thumb {
  background: #4ECCA3;
}

::-webkit-scrollbar-thumb:hover {
  background: #3ca476;
}
